# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
DerivedData/
*.xcuserstate

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm
.build/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Checkouts
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other
*.lock
*.env
.DS_Store
